body {
    font-family: 'arial';
    background: rgb(2,0,36);
    background: linear-gradient(267deg, rgba(2,0,36,1) 0%, rgba(61,9,121,1) 8%, rgba(59,15,125,1) 22%, rgba(61,9,121,1) 29%, rgba(0,212,255,1) 75%);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }
  #header {
    
    padding: 4px;
    color: white;
    overflow: auto;
    display: flex;
    width:50%;
    justify-content: center;
    margin: 0 auto;
  }
  #header h1 {
    margin-left: 5px;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .col-sm {
    height: 70px;
    justify-content:center;
   
    border-radius: 15px;
    color: white;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
  }
  #keyboard {
    text-align: center;
    color: #18EA7E;
    width: 75%;
    padding: 10px;
    margin: auto;
  }
  #keyboard button {
    height: 50px;
    width: 50px;
    margin: 5px;
    border:none;
    background-color: white;
  }
  #newGame {
    text-align: center;
    margin: 15px;
  }
  #newGame_button {
    color:white;
    background-color: aqua;
    font-size: 25px;
    border:none;
  }
